{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Broc Vintage Style{% endblock %}

{% block body %}
<div class="parallax-accueil">
    <div id="titre_defile">  
    <p>Bienvenue dans votre boutique Vintage,<br> trouvez vos articles selon votre style et vos envies</p>
</div>
</div>
{% endblock %}
