{% extends 'base.html.twig' %}

{% block title %}Art-de-la-table-chic-ou-vintage{% endblock %}

{% block body %}
<div class="parallax-art-table">
    <h1>Art de la table Chic ou Vintage</h1>
</div>
{% endblock %}
